<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <form method="post" action="/login">
    <h2>Login</h2>
    <p>Don't have an account yet? Click <a href="/register">here</a> to register</p>
    <input type="email" name="email" placeholder="Email"/>
    <input type="password" name="password" placeholder="Password"/>
    <button class="btn btn-primary" type="submit">Login</button>
  </form>

</body>
</html>